aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*.tar.gz
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
src/Makefile
src/Makefile.in

src/server/*.o
src/server/*.a
src/server/Makefile
src/server/Makefile.in
src/server/.deps
src/server/.libs
src/server/fgms
src/server/fgms.conf
src/server/server.log
src/server/fgms.log

src/flightgear/Makefile
src/flightgear/Makefile.in
src/flightgear/MultiPlayer/Makefile
src/flightgear/MultiPlayer/Makefile.in
src/flightgear/MultiPlayer/*.o
src/flightgear/MultiPlayer/.deps
src/flightgear/MultiPlayer/libMultiPlayer.a

src/simgear/Makefile
src/simgear/Makefile.in
src/simgear/misc/Makefile
src/simgear/misc/Makefile.in
src/simgear/math/Makefile
src/simgear/math/Makefile.in
src/simgear/debug/Makefile
src/simgear/debug/Makefile.in
src/simgear/debug/*.o
src/simgear/debug/*.a
src/simgear/debug/.deps

src/plib/Makefile
src/plib/Makefile.in
src/plib/*.o
src/plib/*.a
src/plib/.deps

msvc/lib
msvc/fgms.ncb
msvc/bin
msvc/Debug
msvc/Release

